/* Комбинированный селектор - применяется ко всем элементам */
header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}

header, footer, body {
    background-color: linen;
}

/* Простые селекторы*/
.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

/* Стили панели навигации */
.navbar p {
    color: darkgray;
    padding-left: 15%;
}
/* Стили панели навигации при наведении мышью */
.navbar p:hover {
    color: aliceblue;
}
.navbar a
{
    text-decoration: 0; /* Убрать подчеркивание ссылки*/
}

.review-container, .review-button {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.review-text {
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

/*Глобальные стили для хедеров на всём сайте*/
header {    
    color: black;    
    padding-left: 1%;
    padding-top: 1.2%;    
}

footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 15%;
    min-width: max-content;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 16%;
}

input {
    display: flex;
    width: 50%;
}

input:focus {
    background-color: #d9faf1;
}

#header-index {
    color: #44453f;
    #display: flex;
    #position: absolute;
    z-index: 999;
}

button {
    background-color: #e68b30;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-block: 10%;
    width: 90%;
    height: 100px;
    font-size: x-large;
}

button:hover {
    background-color: #b55d04;
}